{
    "presets":[["@babel/preset-env",{
        "targets": {
           "browsers": ["> 1%", "last 2 versions", "not ie <= 10"]
        }
      }]],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }]
    ]
}